/*PRESETS*/
.presets {
	height: 60px;
	text-align: center;
	font-size: .8em;
	margin: 0 auto;
	display: table;
}
.presets .button {
	color: #888;
  font-size: 1em;
	float: left;
	padding: 6px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	background: #fff;
	cursor: pointer;
}
.presets .button:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.presets .button:last-child {
  border-radius: 0 5px 5px 0;
}
.presets .button.dox {
	color: #334d5c;
}
.presets .button.ground {
	color: #45b29d;
}
.presets .button.citizen {
	color: #df5a49;
}
.presets .button:hover {
	background: #888;
}
.presets .button.dox:hover {
	background: #334d5c;
}
.presets .button.ground:hover {
	background: #45b29d;
}
.presets .button.citizen:hover {
	background: #df5a49;
}
.presets .button:hover {
	color: #fff;
}
.presets .button.active {
	cursor: default;
	background: #888;
}
.presets .button.dox.active {
	background: #334d5c;
}
.presets .button.ground.active {
	background: #45b29d;
}
.presets .button.citizen.active {
	background: #df5a49;
}
.presets .button.active {
	color: #fff;
}


.view-select {
	padding-top: 5px;
	padding-bottom:20px;
}
.view-select .booton {
	text-align: center;
	font-size: .8em;
	width: 100%;
	color: #888;
  font-size: 1em;
	float: left;
	padding: 6px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	background: #fff;
	cursor: pointer;
	border-radius: 5px;
}

/*SLIDERS*/
#sliders-wrapper {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	display: table;
	margin-bottom: 10px;
}

.instructions {
	font-size: .9em;
	text-align: center;
	margin-bottom: 5px;
}
.city-search .instructions {
	display: none;
}
#sliders-wrapper .labels {
	margin-left: 12px;
	margin-right: -10px;
}
#sliders-wrapper .labels .label {
	display: inline-block;
	width: 32%;
	font-weight: bold;
}
#sliders-wrapper .labels .label.dox {
	color: #334d5c;
}
#sliders-wrapper .labels .label.ground {
	color: #45b29d;
	text-align: center;
}
#sliders-wrapper .labels .label.citizen {
	color: #df5a49;
	text-align: right;
}

#sliders-wrapper .slider-rect {
	stroke: #ccc;
	fill: #3a403d;
}
#sliders-wrapper .slider-text {
	text-anchor: middle;

}
#sliders-wrapper .slider-circle {
	stroke: #aaa;
	fill: #ccc;
	cursor: ew-resize;
}
#sliders-wrapper .slider-circle-text {
	text-anchor: middle;
	cursor: ew-resize;
	display: none;
}
#sliders-pct .slider-pct {
	width: 33.333333%;
	float: left;
	text-align: center;
	font-size: 2em;
}
#sliders-wrapper .slider-handle {
	fill: #fff;
	stroke: #000;
	cursor: ew-resize;
}
#sliders-wrapper .slider-bar-text {
	fill: #fff;
	text-anchor: middle;
}

/*SELECT*/
.chosen-container.chosen-container-single {
	height: 30px;
	margin-bottom: 15px;
}
.view-select {
	display: none;
}

/*TABLE*/
.table-wrapper .sentence {
	margin-bottom: 20px;
}
thead {
	font-size: .8em;
}
th {
	font-weight: normal;
}
tbody {
	font-size: .7em;
  display: block;
  height: 400px;
  overflow: auto;
}
tbody td .fa {
	font-size: 1.3em;
}
tbody tr td, th {
	text-align: center;
}
tbody tr td:first-of-type, th:first-of-type {
	text-align: left;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.table>thead>tr>th {
	padding-top: 0px;
	padding-bottom: 4px;
}

/*SCATTER CHART*/
#chart {
	width: 100%;
}
.xy-line {
	stroke-dasharray: 5,5;
	stroke-width: 2px;
	stroke: #ccc !important;
}
.axis {
	font-family: "Open Sans", sans-serif;
}
.axis .l {
  fill: #3a403d;
  font-size: 1.3em;
}
.legend {
	font-size: .8em;
}
.legend p {
	margin-bottom: 4px;
}
.legend .legend-item {
	display: inline-block;
}
.legend .swatch {
	padding: 1px 3px;
	color: #fff;
	border-radius: 3px;
}
.voronoi path {
  fill: transparent;
  stroke: none;
}

.city-dot.highlight {
	stroke: #000;
	stroke-width: 2px;
}
.scatter-line {
	stroke: #000;
	stroke-width: 1.3px;
}
.scatter-line-text {
	text-shadow: -3px -3px 1px rgba(255, 255, 255, 0.4), -3px -2px 1px rgba(255, 255, 255, 0.4), -3px -1px 1px rgba(255, 255, 255, 0.4), -3px 0px 1px rgba(255, 255, 255, 0.4), -3px 1px 1px rgba(255, 255, 255, 0.4), -3px 2px 1px rgba(255, 255, 255, 0.4), -3px 3px 1px rgba(255, 255, 255, 0.4), -2px -3px 1px rgba(255, 255, 255, 0.4), -2px -2px 1px rgba(255, 255, 255, 0.4), -2px -1px 1px rgba(255, 255, 255, 0.4), -2px 0px 1px rgba(255, 255, 255, 0.4), -2px 1px 1px rgba(255, 255, 255, 0.4), -2px 2px 1px rgba(255, 255, 255, 0.4), -2px 3px 1px rgba(255, 255, 255, 0.4), -1px -3px 1px rgba(255, 255, 255, 0.4), -1px -2px 1px rgba(255, 255, 255, 0.4), -1px -1px 1px rgba(255, 255, 255, 0.4), -1px 0px 1px rgba(255, 255, 255, 0.4), -1px 1px 1px rgba(255, 255, 255, 0.4), -1px 2px 1px rgba(255, 255, 255, 0.4), -1px 3px 1px rgba(255, 255, 255, 0.4), 0px -3px 1px rgba(255, 255, 255, 0.4), 0px -2px 1px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(255, 255, 255, 0.4), 0px 2px 1px rgba(255, 255, 255, 0.4), 0px 3px 1px rgba(255, 255, 255, 0.4), 1px -3px 1px rgba(255, 255, 255, 0.4), 1px -2px 1px rgba(255, 255, 255, 0.4), 1px -1px 1px rgba(255, 255, 255, 0.4), 1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.4), 1px 2px 1px rgba(255, 255, 255, 0.4), 1px 3px 1px rgba(255, 255, 255, 0.4), 2px -3px 1px rgba(255, 255, 255, 0.4), 2px -2px 1px rgba(255, 255, 255, 0.4), 2px -1px 1px rgba(255, 255, 255, 0.4), 2px 0px 1px rgba(255, 255, 255, 0.4), 2px 1px 1px rgba(255, 255, 255, 0.4), 2px 2px 1px rgba(255, 255, 255, 0.4), 2px 3px 1px rgba(255, 255, 255, 0.4), 3px -3px 1px rgba(255, 255, 255, 0.4), 3px -2px 1px rgba(255, 255, 255, 0.4), 3px -1px 1px rgba(255, 255, 255, 0.4), 3px 0px 1px rgba(255, 255, 255, 0.4), 3px 1px 1px rgba(255, 255, 255, 0.4), 3px 2px 1px rgba(255, 255, 255, 0.4), 3px 3px 1px rgba(255, 255, 255, 0.4);
	font-size: .9em;
}

.contrib {
	font-style: italic;
	margin-top: 50px;
}

.source {
	margin-top: 20px;
	font-size: .8em;
	color: #888;
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	#sliders-wrapper {
		margin-bottom: 0px;
	}
	#sliders-wrapper .labels {
		margin: 0px;
		font-size: .75em;
	}
	select {
		margin-left: 1%;
		width: 98%;
		font-size: .9em;
	}
	.instructions {
		/*display: none;*/
		margin-bottom: 0px;
	}
	.presets {
		height: 40px;
	}
	.presets .button {
		font-size: .75em;
		padding: 8px 6px;
	}

	.view-select {
		display: block;
		z-index: 20;
		height:50px
	}
	.view-select .booton {
		cursor: pointer;
	}

	.scatter-line-text {
		text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
	}

	.lh {
		line-height: 1.7em
	}

}
@media only screen and (max-width: 480px) {
	.or.instructions {
		display: none;
	}

}
